<form [formGroup]="frmRegistro">
  <div>
    <label for="nombre"></label>
    <input type="text" formControlName="nombre" id="nombre">
  </div>
  <div>
    <label for="clave"></label>
    <input type="password" formControlName="clave" id="clave">
  </div>
  <div>
    <label for="confirmar"></label>
    <input type="password" formControlName="confirmar" id="confirmar">
  </div>
  <div>
    <button (click)="registro()"
    [disabled]="!frmRegistro.valid || !validacion()" >Registrarse</button>
  </div>
</form>